<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Kharchay</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navCtrl.push('FilterPage')" margin-right>
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-button icon-only (click)="search()" >
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form action="" (ngSubmit)="addItem(form)" #form="ngForm">
    <ion-list>
      <ion-item>
        <ion-label floating>Price</ion-label>
        <ion-input required type="number" name="price" min="0" [(ngModel)]="expense.price"></ion-input>
      </ion-item>
      <ion-item (ionDrag)="logDrag($event)">
        <ion-label floating>Date</ion-label>
        <ion-datetime #expenseDate (swipeleft)="subtractDay()" (swiperight)="addDay()" name="date" displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY HH:mm"
          [(ngModel)]="expense.date" [max]="maxDate"></ion-datetime>
      </ion-item>

      <ion-item-sliding (ionDrag)="logDrag($event)">
        <ion-item>
          <ion-label floating>Choose Category</ion-label>
          <ion-select interface="popover" required name="category" [(ngModel)]="expense.category">
            <ion-option [value]="cat" *ngFor="let cat of categories">{{cat | titlecase}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-item-sliding>

      <ion-item>
        <ion-label floating>Note</ion-label>
        <ion-input type="text" name="note" [(ngModel)]="expense.note"></ion-input>
      </ion-item>
    </ion-list>
    <button type="submit" [disabled]="form.invalid" [ladda]="isWorking" ion-button color="primary">Add</button>
    <!-- <button type="button" [ladda]="false" *ngIf='isWorking' ion-button color="primary">Adding...</button> -->



  </form>

  <h2>{{this.currentMonth}} - {{total}}</h2>
  <ion-list>
    <ion-item-sliding *ngFor="let item of expenses | async">
      <ion-item no-padding >
        <h2>{{item.price}}</h2>
        <ion-badge>{{item.category}}</ion-badge>
        <p>{{item.note}}</p>
        <p item-end>{{item.date | date:"E, MMM d, y"}}</p>
      </ion-item>
      <ion-item-options slide="right">
        <button ion-button color="danger" (click)="delete(item)">Delete</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>