<ion-header>

  <ion-navbar color="primary">
    <ion-title >Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngIf="expense">
    <img [src]="expense.imageUrl || './assets/imgs/placeholder.png'" imageViewer="expense.imageUrl"/>
    <ion-card-content>
      <ion-card-title>
        <h1>
          {{expense.price}}
        </h1>

        <!-- For backward compatibility -->
        <ion-badge *ngIf="expense.category.title else oldTitle">{{expense.category.title}}</ion-badge>
        <ng-template #oldTitle>
          <ion-badge>{{expense.category}}</ion-badge>
        </ng-template>
        <!-- END For backward compatibility -->

        <ion-badge *ngIf="expense?.subCategory" color="danger">{{expense?.subCategory}}</ion-badge>

        </ion-card-title>
      <p>
        {{expense.note}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
